.footer {
  padding: 48px 0;
  text-align: center;
}

.footer__copyright {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
}

/* Tablet - 768px */
@media screen and (max-width: 1024px) {
  .footer {
    padding: 48px 0;
  }
}

/* Mobile - 320px */
@media screen and (max-width: 544px) {
  .footer {
    padding: 32px 16px;
    text-align: center;
  }

  .footer__copyright {
    font-size: 14px;
  }
}
