.header {
    padding: 30px 0 0;
    display: flex;
    justify-content: center;
}

.header__logo {
    width: 254.84px;
    height: 68.94;
}

/* Tablet - 768px */
@media screen and (max-width: 1024px) {
    .header {
        padding: 30px 0 0;
    }

    .header__logo {
        width: 254px;
        height: 66px;
    }
}

/* Mobile - 320px */
@media screen and (max-width: 544px) {
    .header {
        padding: 16px 0 0;
    }

    .header__logo {
        width: 188px;
        height: 52px;
    }
}