.intro {
    padding: 90px 140px 86px;
    color: #FFFFFF;
}

.intro__title {
    font-size: 54px;
    font-weight: 900;
    line-height: 1.2;
    margin: 0 0 24px;
    max-width: 830px;
    text-align: left;
}

.intro__quote {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 0 8px;
    max-width: 738px;
}

.intro__author {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 0 50px;
    max-width: 738px;
    text-align: right;
}

.intro__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.43;
    margin: 0;
    max-width: 722px;
    color: #6c6c6c;
}

/* Tablet - 768px */
@media screen and (max-width: 768px) {
    .intro {
        padding: 76px 48px 80px;
    }

    .intro__title {
        font-size: 45px;
        max-width: 707px;
    }

    .intro__quote {
        font-size: 24px;
        line-height: 1.5;
        max-width: 720px;
    }

    .intro__author {
        font-size: 24px;
        margin: 0 0 40px;
    }

    .intro__text {
        font-size: 16px;
        line-height: 1.5;
        max-width: 720px;
    }
}

/* Mobile - 320px */
@media screen and (max-width: 544px) {
    .intro {
        padding: 48px 16px 50px;
    }

    .intro__title {
        font-size: 32px;
        margin: 0 0 16px;
        max-width: 288px;
    }

    .intro__quote {
        font-size: 24px;
        line-height: 1.5;
        max-width: 288px;
    }

    .intro__author {
        font-size: 24px;
        margin: 0 0 40px;
    }

    .intro__text {
        font-size: 16px;
        line-height: 1.5;
        max-width: 288px;
    }
}