.lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px 0 0;
}

.lead__title {
    font-size: 96px;
    font-weight: 900;
    line-height: 1;
    text-align: center;
    margin: 0 0 32px;
    width: 720px;
    height: 200px;
}

.lead__subtitle {
    font-size: 30px;
    font-weight: 400;
    width: 720px;
    height: 72px;
    line-height: 1.2;
    text-align: center;
    margin: 0 0 40px;
}

/* Tablet - 768px */
@media screen and (max-width: 768px) {
    .lead {
        padding: 45px 0 0;
    }

    .lead__title {
        font-size: 75px;
        width: 530px;
        height: 158px;
    }

    .lead__subtitle {
        font-size: 30px;
        width: 720px;
        height: 72px;
    }
}

/* Mobile - 320px */
@media screen and (max-width: 320px) {
    .lead {
        padding: 30px 0 0;
    }

    .lead__title {
        font-size: 40px;
        width: 228px;
        height: 88px;
    }

    .lead__subtitle {
        font-size: 16px;
        width: 228px;
        height: 40px;
    }
}