.lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px 0 0;
}

.lead__title {
    font-size: 96px;
    font-weight: 900;
    line-height: 1;
    text-align: center;
    margin: 0 0 32px;
    max-width: 720px;
}

.lead__subtitle {
    font-size: 30px;
    font-weight: 400;
    max-width: 720px;
    line-height: 1.2;
    text-align: center;
    margin: 0 0 40px;
}

.lead__image {
    display: block;
    width: 100%;
    max-width: 984px;
    height: auto;
    object-fit: cover;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

/* Tablet - 768px */
@media screen and (max-width: 768px) {
    .lead {
        padding: 45px 0 0;
    }

    .lead__title {
        font-size: 75px;
        max-width: 530px;
    }

    .lead__subtitle {
        font-size: 30px;
        max-width: 720px;
    }
}

/* Mobile - 320px */
@media screen and (max-width: 544px) {
    .lead {
        padding: 30px 0 0;
    }

    .lead__title {
        font-size: 40px;
        max-width: 288px;
    }

    .lead__subtitle {
        font-size: 16px;
        max-width: 288px;
    }
}